body{
  background-image: url("snow.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*TOPIC*/
    /* Container holding the image and the text */
.topic {
    position: relative;
    text-align: center;
    }

    /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.hi {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    background-color: #AFEEEE;
    border: 1px solid black;
    opacity: 0.6;
    }



.hi2 {
    font-family: "calibri";
    font-size: 20px;
    color: black;
    background-color: #ffffff;
      opacity: 0.6;

    }




/*NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
   }

li { float: left; }

   li a, .dropbtn {
       display: inline-block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       }

  /*dropdown menu*/
   li a:hover, .dropdown:hover .dropbtn {
       background-color: pink;
       }

   li.dropdown {
       display: inline-block;
       }

   .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
       }

   .dropdown-content a {
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
       }

   .dropdown-content a:hover {background-color: #f1f1f1}

   .dropdown:hover .dropdown-content {display: block;}

    /*Social media*/
    .fa {
        float:right;
        padding: 15px;
        font-size: 30px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 70%;
        }

   .fa:hover { opacity: 0.7; }

   .fa-facebook {
         background: #3B5998;
         color: white;
         }

   .fa-twitter {
         background: #55ACEE;
         color: white;
         }

   .fa-snapchat {
         background: #FFFF00;
         color: black;
         }

   .fa-pinterest {
          background: #FF0000;
          color: white;
         }

  .fa-instagram {
          background: #FF00FF;
          color: white;
         }

 /*-- for FUN FACTS --*/
   .funfact {padding: 50px 0px 100px 0px;}
   .sadtruth{padding: 0px 0px 100px 0px;}
   .ffs{padding: 50px 0px 0px 0px;}
   /* Create three equal columns that floats next to each other */
   .fct {
           float: left;
           width: 33.33%;
           height: 400px;
           text-align: justify;
           text-align-last: center;
           }
      p {  padding:0px 15px 0px 15px; }
  /* Clear floats after the columns */
   .ffs:after {
           content: "";
           display: table;
           clear: both;
           }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 500px) {
       .fct {width: 100%; }
           }


 /*for PENGUIN PICS*/

   .container {
           position: relative;
           width: 25%;
           height: 300px;
           float: left;
           }

   .image {
           opacity: 1;
           display: block;
           width: 100%;
           height: 300px;
           transition: .5s ease;
           backface-visibility: hidden;
           border-radius: 8px;
           }

    .middle {
           transition: .5s ease;
           opacity: 0;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           text-align: center;
           }

    .container:hover .image { opacity: 0.3; }

    .container:hover .middle { opacity: 1; }

    .text {
           background-color: #4CAF50;
           color: white;
           font-size: 16px;
           padding: 16px 32px;
          }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 500px) {
        .container {width: 100%; }
          }


/*-- for SAVE PENGUINS --*/
    .savepenguins{
          text-align: justify;
          text-align-last: center;
          padding: 400px 0px 100px 0px; /*why atas x jarak?*/
          }

          img {border-radius: 8px;}


/* FOR ABOUT US*/
  /* create three equal columns */
    .column {
         float: left;
         width: 33.33%;
         }

  /* Clear floats after the columns */
    .row:after {
         content: "";
         display: table;
         clear: both;
         }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {width: 100%; }
        }

    .column
        img { border-radius: 50%; }

    .center {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
      }


/*-- to the TOP BUTTON --*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 12px; /* Rounded corners */
    transition: all 0.5s;
    font-size: 16px; /* Increase font size */
    }

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    }

/*-- create footer --*/
.footer {
   position: not relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   }
